{%extends "base.html"%}
{%block content%}
    <div class="lh-lg font-monospace">
    <h1 class="text-capitalize ">Getting started</h1>
    <p class="text-capitalize">this is a short introductuion of how to use this app</p>
        
            <li>&ensp;<i class="fa-solid fa-stroopwafel" style="color: #ffb76f;"></i>
                first, we go to device tab. it will show all the supported casting apps
            </li>
        
                <li>&emsp;&emsp;<i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>
                    make sure that the device must be in the same network as the computer that is currently beign used
                </li>
        
            <li>&ensp;<i class="fa-solid fa-stroopwafel" style="color: #ffb76f;"></i>
                now,you will be redirected to the search page
            </li>
            <li>&ensp;<i class="fa-solid fa-stroopwafel" style="color: #ffb76f;"></i>
                there you can search any youtube video that you want to play on the device
            </li>

            <li>&ensp;<i class="fa-solid fa-stroopwafel" style="color: #ffb76f;"></i>
                click on the <button class="btn btn-primary">play on device</button> to start playing on the device
            </li>

                <li>&emsp;&emsp;<i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>
                    remember, you can only play one video on a given period of time time
                </li>


    </div>
{%endblock%}