{%extends "base.html"%}

{%block content%}

<h1>this is device</h1>
<!--card loop-->
{%for i in device_name%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{device_name[i][0]}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{device_name[i][1]}}</h6>
          <p class="card-text">UUID-{{device_name[i][2]}}</p>
          <p class="card-text">IP-{{device_name[i][3]}}</p>
          <a href="#" class="card-link">CONNECT</a>
        </div>
      </div>
{%endfor%}
<!--card loop end-->
{%endblock%}